---
layout: default
title: Home
---

<section class="hero-section">
  <div class="hero-text">
    <div>
      <h1>
        <span class="hero-text-accent">Artisan Ponds</span>
        & Hardscapes in Western NC</h1>
      <h2>Custom builds, koi care, and expert stonework since 1998.</h2>
    </div>
    <img src="/assets/images/hero-koi.svg" alt="">
  </div>
  <div class="cta-hero-wrapper">
    {% include cta.html %}
    {% include cta-alt.html %}
  </div>
  <div class="hero-image-wrapper">
    <img
      class="hero-image"
      style="border-radius: 24px ;"
      src="/assets/images/hero.jpg"
      alt="A handbuilt pond with beautiful stonework.">
  </div>
</section>
<p style="text-align: center;" class="facebook-banner">Check out our
  <a style="text-decoration:underline;" href="https://www.facebook.com/westerncarolinawaterscapes/">Facebook</a>
  page for the most up to date information and photos of our work!</p>