<section class="services-sections">
  <h2>Our Specialties</h2>
  <div class="services-container">
    {% for service in site.data.servicesSection %}
      <div class="services-section">
        <img
          src="{{ service.image }}"
          style="width: 100%;"
          alt="">
        <h3>{{ service.title }}</h3>
        <span class="divider"></span>
        {% if service.description %}
          <p>{{ service.description }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>