.service {
display: flex;
flex-direction: column;
gap: 1em;
padding: 1em 0;
}

.service h2 {
    font-family: $font-accent;
}

.services img {
    width: 100%;
    border: $border;
    border-radius: 1em;
    box-shadow: $box-shadow-half;
}

.service p {
    padding: 0 .5em;
}

.service ul {
    list-style-position: inside;
    padding-left: 1.2em;
}

.service li {
    text-decoration: underline;
}