.service {
display: flex;
flex-direction: column;

padding: 1em 0;
border-radius: 1em;
}

.service h2 {
    font-family: $font-accent;
}

.services img {
    width: 100%;
    border-radius: 1em 1em 0 0;
    
}

.service p {
    padding: 0 1em;
}

.service ul {
    list-style-position: inside;
    padding-left: 1.2em;
}

.service li {
    text-decoration: underline;
}

.service-card {
    background-color: $card-color;
    border: $border;
    border-radius: 1em;
    box-shadow: $box-shadow-half;
    gap: .7em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2em;
}