@use "variables" as *;  // Directly load variables

.services-sections {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.services-sections h2 {
    font-size: 2.5em;
    font-family: $font-accent;
    text-align: center;
    padding: .5em;
}
.services-sections img {
    border-radius: $radius;
    border: 1px solid $foreground-color;
}

.services-section {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

.divider {
    width: 95%; 
    height:1px; 
    background-color:black;    
}
